.add-star:before{content:"戦闘力　"; color: blue;}


.uk{
  width: 500px;
  height: 500px;
  text-align: center;
  float: left;
  background-color: #fff;
  margin: 20px 10px 0;
  box-shadow: 0 2px 0 #eee;
}

.add-star{
  cursor: pointer;
}

  .showbox {
    float: left;
    margin: 4em 1em;
    width: 100px;
    height: 60px;
    border: 2px solid green;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
